import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import _datetime
import json
import seaborn as sns
import dateutil.parser as dp

from datetime import datetime
from json import dumps
from dateutil import parser
from dateutil.relativedelta import relativedelta

# Load specific forecasting tools
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf # for determining (p,q) orders
from statsmodels.tsa.seasonal import seasonal_decompose      # for ETS Plots
from pmdarima import auto_arima                              # for determining ARIMA orders
from scipy.optimize import curve_fit

# Ignore harmless jupyter warnings
import warnings
warnings.filterwarnings("ignore")